<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Podsumowanie
</div>
<div class="p-4">
  <p class="font-italic mb-4">Koszt dostawy ulegnie zmianie po wybraniu dostawy</p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotals$ | async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Podsumowanie zamówienia</strong>
      <strong>{{(basketTotals$ | async).subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Dostawa</strong>
      <strong>{{(basketTotals$ | async).shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Całość</strong>
      <strong>{{(basketTotals$ | async).total | currency}}</strong>
    </li>
  </ul>
</div>
