<carousel>
  <slide>
    <img src="assets/images/bed1.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/table2.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/bench1.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4 mt-5">
    <br>
    <h1>Wejdź do świata mebli z drewna już dziś!</h1>
  </div>
</section>
